<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
<style>
    .continue-button {
        font-size: 20px;
    }
    .comment-container {
        border: 3px solid orange;
        padding: 10px;
        margin-bottom: 15px;
        text-align: left;
    }
</style>
{% if usertype == 'a' %}
<head>
    <title>Reject Reason</title>
</head>
<body>
<center>
<h1>Review Rejection </h1>
    <h2><p> <b style="color: red;"> You are rejecting this review for {{ review.place_id.name}}: </b> </p></h2>

                <div class="comment-container">
                <p>
                <b>From {{review.user.first_name}} {{review.user.last_name}} at {{review.pub_date}}:</b>
                </p>
                    {{ review.review_text }}
                </div>
<h4><p> <b style="color: red;">Explain why you are rejecting this review (this will be visable to the original reviewer): </b> </p></h4>
<br>
<form method="post">
        {% csrf_token %}
        <label for="rejection_reason"></label>
        <textarea id="rejection_reason" name="rejection_reason" rows="10" cols="80" spellcheck="true" required></textarea>
        <br>
        <input type="submit" value="Submit Rejection">
</form>
<br>
 <a href="/commentApproval/" class="continue-button">Cancel Rejection</a>
</center>
</body>
{% else %}
<section>
{% include 'adminVerification.html' %}
</section>
{% endif %}
</html>